<h1>Alterar tipo de equipamento</h1>

<% form_for(@comptype) do |f| %>
  <%= f.error_messages %>
  <table>
  	<tr>
	    <td><%= f.label :type_description, 'Descrição: ' %></td>
		<td><%= f.text_field :type_description %></td>
  	</tr>
	<p></p>
  </table>
  <br>
  <table border="0">
		<tr>
			<td valign="top" align="center"><%= submit_tag "Alterar", :id => "btnSubmit", :onmouseover => "this.style.cursor='pointer';"  %>
			    &nbsp;
			</td>
			<td valign="top" align="center"><%= link_to "Voltar", comptypes_path, :id => "btnAnchor" %></td>
		</tr>
  </table>
<% end %>

